@use '../base/variables' as v;
@use '../base/mixins' as m;

.contacto-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    align-items: stretch;
}

.reserva-col,
.sugerencia-col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: v.$beige-medio;
    border: 1px solid v.$vino;
    border-radius: 8px;
    padding: v.$gap-md;
}

.contacto-derecha {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: v.$beige-claro;
    border: 1px solid v.$vino;
    border-radius: 8px;
    padding: v.$gap-md;
}