@use '../base/variables' as v;

.hero-nosotros {
    background-color: v.$beige;
    padding: 4rem 2rem;
    text-align: center;

    h1 {
        font-size: 2.5rem;
        color: v.$vino;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.2rem;
        color: v.$gris;
    }
}

.mision-vision {
    h2 {
        margin-bottom: 0.8rem;
    }

    p {
        max-width: 700px;
        margin: 0.5rem auto 2rem auto;
        color: v.$gris;
    }
}