@use '../base/variables' as v;
@use '../base/mixins' as m;
@use '../base/placeholders';

/* ------ NOSOTROS ------ */
.hero-nosotros {
    @extend %section-center;

    h1 {
        @extend %titulo-principal;
    }

    p {
        @extend %text-center-max;
    }
}

//* Misión y Visión 
.productos-nosotros {
    @extend %card-base;

    h2 {
        @extend %titulo-secundario;

        p {
            @extend %text-center-max;
        }
    }
}

//* Equipo y Espacio 
.equipo-espacio {
    opacity: 0;
    animation: fadeUp 0.8s ease forwards;

    .flex-section {
        @include m.flex-gen(row, flex-start, center, null, wrap);
        gap: v.$gap-lg;
        margin: v.$gap-lg 0;
    }

    .tres-columnas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: v.$gap-lg;
        align-items: center;
    }

    img {
        width: 100%;
        max-width: 400px;
        height: 300px;
    }
}

// === MEDIA QUERY NESTED ===
@media (max-width: 768px) {
    .tres-columnas {
        grid-template-columns: 1fr;
        text-align: center;
    }

    img {
        max-width: 90%;
        margin: 0 auto;
    }
}


//* Productos Nosotros 
.producto-nuestro {
    .tienda-img {
        text-align: center;

        img {
            margin: v.$gap-md auto;
        }
    }

    // === MEDIA QUERY NESTED ===
    @media (max-width: 768px) {
        .tienda-img {
            >div {
                @include m.flex-gen(column, center, center);

                img {
                    max-width: 80%;
                    margin-bottom: v.$gap-md;
                }
            }
        }
    }
}