@use '../base/variables' as v;
@use '../base/mixins' as m;
@use '../base/placeholders';
@use '../secciones/animaciones';


/*------ PORTADA ------ */
.portada {
    .texto {
        text-align: center;
    }
}

//* Especialidades del mes *//
.productos-especialidades {
    .flex-section {
        @include m.flex-gen($align: flex-start);
        gap: v.$gap-lg;
        margin: v.$gap-lg 0;
        flex-wrap: wrap;
    }

    .producto {
        .imagen {
            width: 100%;
            height: 250px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-position: center 60%;
                border-radius: 12px;
            }
        }
    }

    // === MEDIA QUERY NESTED === //
    @media (max-width: 1024px) {
        .producto {
            justify-content: flex-start;

            .texto {
                margin-top: 0.8rem;
            }
        }
    }
}


//* Valores / Filosofía *//
.sobre-fika {
    margin-top: v.$gap-lg;
    @include m.flex-gen(column, center, center, center);

    >p {
        max-width: 65ch;
        margin: v.$gap-sm auto;
    }

    .valor {
        @include m.flex-gen(column, center, center, center);

        .img-icono {
            width: 70px;
        }
    }
}

//* CTA *//
.cta {
    @include m.titulo($align: center, $margin: v.$gap-md 0);

    p {
        margin-bottom: v.$gap-lg;
    }
}

//* Testimonios *//
.testimonios {
    .testimonios-grid {
        @include m.flex-gen($wrap: wrap, $justify: center);
        gap: v.$gap-lg;
    }

    .testimonial {
        @include m.tarjeta(v.$beige-claro, v.$gap-md, 8px, 1px solid v.$vino, 300px);
        flex: 1 1 250px;

        p {
            margin-bottom: v.$gap-sm;
        }

        span {
            font-weight: bold;
            color: v.$vino;
        }
    }

    // === MEDIA QUERY NESTED ===
    @media (max-width: 768px) {
        .row {
            @include m.flex-gen(column, center, center, center, null, 1.5rem);
        }

        .testimonial {
            max-width: 90%;
            margin: 0 auto;
        }
    }
}

//* Descubrí nuestro espacio *//
.espacio p {
    @include m.flex-gen(column, center, center, center);
    margin-bottom: 0.8rem;
}
