@use '../base/variables' as v;
@use '../base/mixins' as m;

.equipo-espacio .flex-section {
    @include m.flex-center(row, center, center);
    gap: 2rem;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.tres-columnas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;

    img {
        width: 100%;
        border-radius: 8px;
    }
}

.equipo-espacio img {
    border-radius: 12px;
    height: 300px;
    object-fit: cover;
    max-width: 100%;
}