@use '../base/variables' as v;

.grid-dos-columnas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.productos-nosotros .grid-dos-columnas {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    >div {
        width: 100%;
        text-align: center;
    }

    img {
        width: auto;
        max-width: 200px;
        height: auto;
    }
}