@use '../base/variables' as v;
@use '../base/mixins' as m;

// Valores en flex
.valores-fika {
    @include m.flex-center(row, center, center);
    margin-top: 2rem;
    flex-wrap: wrap;
    gap: 5rem;
    text-align: center;

    .valor {
        .img-icono {
            margin-bottom: 0.5rem;
        }
    }
}

// Valores en grid
.valores-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 2rem;
    text-align: center;
    margin-top: 2rem;

    .valor {
        img {
            width: 60px;
            height: auto;
            margin-bottom: 0.5rem;
        }

        h3 {
            margin-top: 0.5rem;
            margin-bottom: 0.3rem;
            color: v.$vino;
        }

        p {
            font-size: 0.95rem;
            color: v.$gris;
        }
    }
}