@use '../base/variables' as v;
@use '../base/mixins' as m;
@use '../base/placeholders';

/* ------ IMÁGENES ------ */
img {
    @include m.imagen-full($max-width: 100%, $height: auto); 
    border-radius: 8px;
}

//* Clases específicas de imágenes *//
.img-pequeña {
    width: 200px;
}

//* Iconos pequeños o fotos secundarias *//
.img-icono {
    display: inline-block; // importante para que funcione la rotación
    transition: transform 0.3s ease;

    &:hover {
        animation: giro360 0.6s linear forwards;
    }
}


.tienda-img img {
    border: 2px solid v.$vino;
}