@use '../base/variables' as v;
@use '../base/mixins' as m;
@use '../base/placeholders';

/* ------ PRODUCTOS ------ */
.producto {
    @extend %card-base;
}

.producto {
    h3 {
        margin-bottom: 0.3rem;
        color: v.$vino;
    }

    p {
        font-size: 0.95rem;
        margin-bottom: v.$gap-sm;
    }

    span {
        font-weight: bold;
        display: block;
        margin-bottom: v.$gap-sm;
    }
}

//* Producto del mes / columna derecha *//
.producto-mes {
    @extend %card-base;
    @include m.flex-gen(column, center, center, center);
    border-width: 2px;
    flex: 1;
}

.producto-mes {
    h3 {
        @extend %titulo-secundario;
    }

    p {
        font-size: 0.95rem;
        margin-bottom: v.$gap-md;
    }

    img {
        @extend %img-producto;
        @include m.imagen-full($fit: cover); // si quieres mantener mixin
    }

    span {
        font-weight: bold;
        display: block;
        margin-bottom: v.$gap-sm;
        color: v.$gris;
    }

    // === MEDIA QUERY NESTED ===
    @media (max-width: 768px) {
        width: 100%;
    }
}
