@use '../base/variables' as v;
@use '../base/mixins' as m;
@use '../base/placeholders';
@use '../secciones/animaciones';

/* ------ PRODUCTOS ------ */
.producto {
    @extend %card-base;

    h3 {
        margin-bottom: 0.3rem;
        color: v.$vino;
    }

    p {
        font-size: 0.95rem;
        margin-bottom: v.$gap-sm;
    }

    span {
        font-weight: bold;
        display: block;
        margin-bottom: v.$gap-sm;
    }
    &:hover {
        @include m.hover-efecto;
        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    }
}

//* Producto del mes / columna derecha *//
.producto-mes {
    @extend %card-base;
    @include m.flex-gen(column, center, center, center);
    border-width: 2px;
    flex: 1;

    h3 {
        @extend %titulo-secundario;
    }

    p {
        font-size: 0.95rem;
        margin-bottom: v.$gap-md;
    }

    span {
        font-weight: bold;
        display: block;
        margin-bottom: v.$gap-sm;
        color: v.$gris;
    }

    img {
        border-radius: 12px;
        height: 350px;
    }

    &:hover {
        @include m.hover-efecto;
        box-shadow: 0 12px 25px rgba(0,0,0,0.55);
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}
