@use '../base/mixins' as m;
@use '../base/variables' as v;


/* ------ RESPONSIVE ------ */

@media (max-width: 1024px) {
    .productos-especialidades { 
        .producto {
        justify-content: flex-start;
            .texto {
                margin-top: 0.8rem;
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        .header {
            display: flex;
            flex-direction: column;
            gap: v.$gap-md;
        }
    }

    .header nav ul {
        flex-direction: column;
        gap: v.$gap-sm;
    }

    .tres-columnas {
        grid-template-columns: 1fr;
    }

    .valor-grid {
        grid-template-columns: 1fr;
    }

    .contacto-grid {
        grid-template-columns: 1fr;
    }

    .producto-mes {
        width: 100%;
    }

    .testimonios {
        .row {
        @include m.flex-gen(column, center, center, center, null, 1.5rem);
        }
        .testimonial {
            max-width: 90%;
            margin: 0 auto;
        }
    }

    .grid-dos-columnas {
        grid-template-columns: 1fr;
        text-align: center; // mejora la lectura
    }
    .productos-nosotros {
        .tienda-img { 
            > div {
                @include m.flex-gen(column, center, center); // centra contenido
                text-align: center;
                img {
                    max-width: 80%; 
                    margin-bottom: v.$gap-md;
                }
            }
        }
    }
    .equipo-espacio {
        .tres-columnas {
        grid-template-columns: 1fr;
        text-align: center; // centra título y textos
        }
        img {
            max-width: 90%;
            margin: 0 auto;
        }
    }
}

