@use '../base/variables' as v;
@use '../base/mixins' as m;

/* ------ GENERALES BÁSICOS ------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: v.$fuente-principal;
}

main {
    padding-top: 80px; // altura aproximada del header
}
body {
    background-color: v.$beige;
    color: v.$gris;
    font-size: 16px;
    line-height: 1.6;
}

.contenedor {
    max-width: v.$max-width-contenedor;
    margin: 0 auto;
    padding: 10px 20px;
}

li {
    list-style: none;
}

p {
    margin-bottom: 0.3rem;
}

