@use '../base/variables' as v;
@use '../base/mixins' as m;

/* ------ HEADER ------ */

.logo {
    font-size: 30px;
    font-weight: 600;
    color: v.$vino;
}

header {
    background-color: v.$beige-claro;
    padding: 0.3rem 0;
    position: fixed; // ahora queda fijo al scrollear
    top: 0;
    border-bottom: 2px solid v.$vino;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Navbar */
.navbar {
    background-color: v.$beige-claro !important;

    .nav-link {
        position: relative;
        color: v.$vino;
        font-weight: bold;
        font-size: 1rem;
        text-decoration: none;
        transition: color 0.3s ease, transform 0.3s ease;

        &:hover {
            color: v.$gris;
            transform: scale(1.05);
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -3px;
            width: 0%;
            height: 2px;
            background-color: v.$vino;
            transition: width 0.3s ease;
        }

        &:hover::after {
            width: 100%;
        }
    }

}