@use '../base/variables' as v;
@use '../base/mixins' as m;

/* ------ HEADER ------ */

.logo {
    font-size: 30px;
    font-weight: 600;
    color: v.$vino;
}

header {
    background-color: v.$beige-claro;
    padding: 0.3rem 0;
    position: relative;

    .header {  // nesting para la clase .header dentro de header
        @include m.flex-gen(row, space-between, center);

        // === MEDIA QUERY NESTED ===
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: v.$gap-md;
        }

        nav {
            ul {
                @include m.flex-gen(null, null, center);
                column-gap: 15px;

                @media (max-width: 768px) {
                    flex-direction: column;
                    gap: v.$gap-sm;
                }
            }
            a {
                color: v.$vino;
                text-decoration: none;
                font-weight: bold;
                font-size: v.$gap-md;
            }
        }
    }
}

/* Navbar */
.navbar {
    background-color: v.$beige-claro !important;

    .nav-link {
        color: v.$vino !important;
        font-weight: bold;

        &:hover {
            color: v.$gris !important;
        }
    }
}
