@use '../base/variables' as v;
@use '../base/mixins' as m;

.formulario {
    padding: v.$gap-md;
    background-color: v.$beige-medio;
    border-radius: 8px;
    border: 2px solid v.$vino;

    form {
        @include m.flex-center(column, center, center);
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        padding: v.$gap-md;
        border-radius: 8px;
        border: 2px solid v.$vino;

        label {
            margin-bottom: v.$gap-sm;
            font-weight: bold;
            color: v.$vino;
        }

        input,
        textarea {
            width: 100%;
            margin-bottom: v.$gap-md;
            background-color: v.$beige;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    }
}