@use '../base/variables' as v;
@use '../base/mixins' as m;

header {
    background-color: v.$beige-claro;
    padding: 0.3rem 0;
    position: relative;
    z-index: 999;

    #header {
        @include m.flex-center(space-between, center);
    }

    .logo {
        font-size: 30px;
        font-weight: 600;
        color: v.$vino;
    }

    nav ul {
        @include m.flex-center(row, flex-start, center);
        column-gap: 15px;
    }

    nav a {
        color: v.$vino;
        text-decoration: none;
        font-weight: bold;
        font-size: 1rem;

        &:hover {
            color: v.$gris;
        }
    }
}